body {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

button {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100px;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
}

form {
    width: 50%;
    margin: 0 auto;
    text-align: start;
}

label {
    margin-left: 5px;
}

#time-left {
    font-weight: bold;
}