body {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    text-align: start;
}

label {
    margin-left: 5px;
}

#time-left {
    font-weight: bold;
}